body {
    /* background-image from: https://unsplash.com/@rashedpaykary */
    background-image: url("parking.jpg");
    background-size: cover;
    font-family: "Atma", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 2px black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 400px;
    background-color: rgb(202, 240, 248, 0.5);
    border-radius: 20px;
    border: #caf0f8 3px solid;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    font-family: inherit;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
    background-color: #03045e;
}

#save-btn {
    background: darkgreen;
    background-color: #0077b6;
}

#save-el {
    color: #03045e;
    text-shadow: 0 0 2px #caf0f8;
}

